input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input{
  background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 16px;
    margin: 0 0 8px 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border .3s, -webkit-box-shadow .3s;
    transition: border .3s, -webkit-box-shadow .3s;
    transition: box-shadow .3s, border .3s;
    transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
    overflow: visible;
}

.input:focus {
  background-color: transparent;
  outline: none;
}

.fundo{
  background: #F0F0F0 !important;
}

.text{
  font-size:3rem;
}

.transform{
  transform: scale(1.75); 
  margin-left: -1.7em !important;
}

.height{
  height: 7vh;
}


.select {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  color: #5E6278;
}

.botao-resultado{
  height: 7vh;
  font-size: large;
  font-weight: bold;
  width: 50%;
}

.text-select {
  font-size: 16px !important;
}

.ajuste{
  width: "33%" !important;
  padding-left: "0.5rem" !important;
}

.text-area{
  height: 12vh;
  font-size: 4vh;
  font-weight: 500;
  width: 100%;
}
.form-control:focus, .form-select:focus {
  border-color: #cccccc;
  outline: 0;
  border-bottom: 2px solid #2c88d9;
  -webkit-box-shadow: none;
          box-shadow: none;
}